<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-android-lib-resolver" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AndroidLibResolver</name>
    <platform name="android">
        <framework src="build-extras.gradle" custom="true" type="gradleReference"/>
    </platform>
</plugin>
